DEBUG=True
SECRET_KEY=changeme-en-production
ALLOWED_HOSTS=localhost,127.0.0.1

# SQLite par défaut (dev). Pour MySQL: mysql://user:pass@localhost:3306/ymmo
DATABASE_URL=sqlite:///db.sqlite3

# Email (dev: console)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@ymmo.fr
